.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin-top: 40px;
}
.column {
  display: flex;
  flex-direction:column;
  width:500px;
  align-items:center;
}
.column input {
  border-radius:3px;
  margin:10px 0;
  padding:5px;
  border: 1px solid rgba(0,0,0,0.43);
  font-size:16px;
  width:80%;
}

.column label {
  text-align: center;
  font-size:30px;
  font-weight: 200;
}
.header {
  text-align:center;
  font-size:30px;
  font-weight: 200;
}
.row {
  display:flex;
  justify-content: space-around;
}